@import "../../node_modules/ol/ol.css";

@font-face {
    font-family: "logo font";
    src: url("./triodpostnaja.ttf");
}

html, body {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    filter: blur(5px);
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: -30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-family: "logo font", monospace;

    background-color: #fefefe77;
    border-radius: 1em;
    margin: 5% auto;
    padding: 0 20px 20px;
    border: 1px solid #363434;
    width: 40%;

    text-align: center;

    button {
        margin-top: 16px;
        border-radius: 1em;
        border: 1px solid #69696900;
        width: 200px;
        height: 24px;
    }

    button:hover {
        box-shadow: 0 0 6px 1px yellow;
    }
}

#authors {
    background: #f0f8ff99;
    border-radius: 1em;
    padding: 0 20px 20px;

    border: 1px solid #363434;

    #name {
        font-family: monospace;
        font-size: 19px;
    }
}

.github {
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: monospace;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 20px;
        max-height: 20px;
        padding-right: 5px;
    }

    a {
        padding: 1px;
    }
}

.map-source {
    margin-top: 5px;
    margin-bottom: -5px;

    font-family: monospace;
    font-size: 15px;
}

.container {
    height: 160px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.container img {
    width: 160px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5em;
}

.holder-base {
    width: 160px;
    margin-right: 14px;

    .info-bar {
        margin-top: 10px;
        text-align: center;
        align-content: center;

        .data-title {
            font-size: 20px;
            font-family: "logo font", monospace;
            font-weight: bold;
            padding: 1px;
        }

        .data-piece {
            padding: 1px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        .warning {
            background: #ecca74;
            border-radius: 0.75em;
            border: 2px solid #d38c00;

            font-family: monospace;
            width: 140px;

            margin: 10px auto;
        }
    }
}

.holder-source {
    width: 640px;

    margin-top: 3px;

    text-align: center;
    font-size: 14px;

    .click-to-go {
        font-size: 20px;
        font-weight: bold;

        margin-top: -5px;
    }

    div {
       padding: 3px;
    }

    border-radius: 1em;
    border: 1px solid #363434;
}

.holder-topper {
    display: flex;
}

.holder-info {
    width: 465px;
}

.name-wrapper {
    font-family: "logo font", monospace;
    font-size: 25px;

    font-weight: bold;
    text-align: center;
}

.lore-wrapper {
    text-align: center;
    border-radius: 1em;
    padding: 0 20px 20px;
    border: 1px solid #363434BB;
}
